[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = {editable = true, ref = "v2.7.0b1", git = "https://github.com/ansible/ansible.git"}
boto = "*"
"boto3" = "*"

[dev-packages]

[requires]
python_version = "3.6"
