@{
    BackupPath = "/srv/backuproot"
    BackupBaseName = "{{ bsv_backup_basename }}"
    GpgRecipientId = "{{ bsv_recipient_id }}"
    S3BucketName = "{{ bsv_s3_bucket }}"
    NoCompress = $False
}
