version: "3.5"
services:

  architect-jenkins:
    image: mrled/architect-jenkins:{{ archjenks_version }}
    ports:
      - "80:8080"
      - "443:8443"
    environment:
      - DOCKER_HOST_DOCKER_GID={{ docker_gid }}
      - HEALTHCHECK_URL=https://localhost:8443
      - HEALTHCHECK_VERIFY_TLS=false
    volumes:
      - jenkins_home:/var/jenkins_home
      - jenkins_cert:/var/jenkins_cert

      # Mount this as /var/run/docker.sock in a service container
      # to allow it to control the *host's* docker service
      # See also https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/
      - /var/run/docker.sock:/var/run/docker.sock

    deploy:
      replicas: 1
    command: >
      --httpPort=-1
      --httpsPort=8443
      --httpsCertificate="/var/jenkins_cert/certificates/{{ inflwharf_domain_name }}.crt"
      --httpsPrivateKey="/var/jenkins_cert/certificates/{{ inflwharf_domain_name }}.key"

  inflatable-wharf:
    image: mrled/inflatable-wharf:{{ inflwharf_version }}
    deploy:
      replicas: 1
    environment:
      - ACME_LETSENCRYPT_EMAIL={{ inflwharf_letsencrypt_email }}
      - ACME_DOMAIN={{ inflwharf_domain_name }}
      - ACME_DNS_AUTHENTICATOR=route53
      - ACME_SERVER={{ inflwharf_lets_encrypt_server }}
      - ACME_FREQUENCY=monthly
      - ACME_SECRETS_ENV_FILE=/run/secrets/acme_secrets_env_file
    secrets:
      - source: acme_secrets_env_file
        target: acme_secrets_env_file
        mode: 0444
    volumes:
      - jenkins_cert:/srv/inflatable-wharf

  # backupmanager:
  #   image: alpine:latest
  #   volumes:
  #     - jenkins_home:/var/jenkins_home
  #   deploy:
  #     replicas: 1

volumes:
  jenkins_home:
  jenkins_cert:

# NOTE: To be able to update our secrets,
# we must use the name property on each secret.
# (The name property requires using version 3.5 of the compose format.)
# We must set the name to change whenever the secrets file is updated,
# so we set it to the hash of the secrets file,
# such that if our secrets change, so will the name.
# See also: https://blog.viktoradam.net/2018/02/28/swarm-secrets-made-easy/

secrets:
  acme_secrets_env_file:
    file: "{{ architect_jenkins_swarm_inflwharf_secrets_file }}"
    name: acme_secrets_env_file_${ACME_SECRETS_ENV_FILE_HASH}